<h1>Recyclers#index</h1>
<div class="row">
  <%= link_to "Edit Profile", edit_profile_path(current_user.profile.id) %>
</div>

<!-- <button class="btn btn-primary">Create New Transaction</button> -->
<%= button_to "Create New Transaction", new_recyclable_path, :class => "btn btn-primary", :method => :get  %>
<h1>Open Recyclable Transactions</h1>
<% @recyclables.each do |recyclable|  %>
  <%= form_for recyclable do |f| %>
  <div class="redeemable">
    <%= "#{recyclable.created_at.to_formatted_s(:short)}:" %>
    <%= "Plastic: #{recyclable.plastic}" if recyclable.plastic %>
    <%= "Glass: #{recyclable.glass}" if recyclable.glass %>
    <%= "Cans: #{recyclable.cans}" if recyclable.cans %>
    <%= "Mixed Hi5: #{recyclable.other}" if recyclable.other %>
    <%= "Selected" if recyclable.selected %>
    <%= f.submit "Completed", class: 'btn btn-link' %>
    <%= f.hidden_field :selected, :value => true %>
    <%= f.hidden_field :completed, :value => true %>
  </div>
  <% end %>
<% end  %>

<h1>Open Good Samaritan Transactions</h1>
<% @samaritans.each do |samaritan|  %>
  <%= form_for samaritan do |f| %>
  <div class="samaritan">
    <%= "#{samaritan.created_at.to_formatted_s(:short)}:" %>
    <%= "Cardboard" if samaritan.cardboard %>
    <%= "Newspaper" if samaritan.newspaper %>
    <%= "Magazines" if samaritan.magazines %>
    <%= "Paper" if samaritan.paper %>
    <%= "Non_hi5_plastic" if samaritan.non_hi5_plastic %>
    <%= "Non_hi5_glass" if samaritan.non_hi5_glass %>
    <%= "Non_hi5_cans" if samaritan.non_hi5_cans %>
    <%= "Selected" if samaritan.selected %>
    <%= f.submit "Completed", class: 'btn btn-link' %>
    <%= f.hidden_field :selected, :value => true %>
    <%= f.hidden_field :completed, :value => true %>
  </div>
  <% end %>
<% end %>
