<h1>Redeemers#index</h1>
<div class="row">
  <%= link_to "Edit Profile", edit_profile_path(current_user.profile.id) %>
</div>
<h1>Available Redeemable Transactions</h1>
<% @redeemables.each do |redeemable|  %>
  <div>
    <%= form_for redeemable do |f| %>
    <div class="redeemable">
      <%= f.submit "Select", class: 'btn btn-link' %>
      <%= redeemable.users[0].profile.address %>:
      <%= "Plastic: #{redeemable["plastic"]}" %>
      <%= "Glass: #{redeemable["glass"]}" %>
      <%= "Cans: #{redeemable["cans"]}" %>
      <%= "Mixed Hi5: #{redeemable["other"]}" %>
    </div>
    <% end %>
  </div>
<% end %>
<h1>Available Good Samaritan Transactions</h1>
<% @samaritans.each do |samaritan| %>
  <div>
    <%= form_for samaritan do |f| %>
    <!-- <input type="checkbox"> -->
    <div class="samaritan">
      <%= f.submit "Select", class: 'btn btn-link' %>
      <%= samaritan.users[0].profile.address %>:
      <%= "Cardboard" if samaritan["cardboard"] == true %>
      <%= "Newspaper" if samaritan["newspaper"] == true %>
      <%= "Magazines" if samaritan["magazines"] == true %>
      <%= "Paper" if samaritan["paper"] == true %>
      <%= "Non_hi5_plastic" if samaritan["non_hi5_plastic"] == true %>
      <%= "Non_hi5_glass" if samaritan["non_hi5_glass"] == true %>
      <%= "Non_hi5_cans" if samaritan["non_hi5_cans"] == true %>
    </div>
    <% end %>
  </div>
<% end %>

<h1>Selected Redeemable Transactions</h1>
<% @redeemables_selected.each do |redeemable|  %>
  <div>
    <%#= form_for redeemable do |f| %>
    <div class="redeemable">
      <%#= f.submit "Select", class: 'btn btn-link' %>
      <%= redeemable["address"] %>:
      <%= "Plastic: #{redeemable["plastic"]}" if redeemable["plastic"] %>
      <%= "Glass: #{redeemable["glass"]}" if redeemable["glass"] %>
      <%= "Cans: #{redeemable["cans"]}" if redeemable["cans"]%>
      <%= "Mixed Hi5: #{redeemable["other"]}" if redeemable["other"] %>
    </div>
    <%# end %>
  </div>
<% end %>
<h1>Selected Good Samaritan Transactions</h1>
<% @samaritans_selected.each do |samaritan| %>
  <div>
    <%#= form_for samaritan do |f| %>
    <!-- <input type="checkbox"> -->
    <div class="samaritan">
      <%#= f.submit "Select", class: 'btn btn-link' %>
      <%= samaritan["address"] %>:
      <%= "Cardboard" if samaritan["cardboard"] == "t" %>
      <%= "Newspaper" if samaritan["newspaper"] == "t" %>
      <%= "Magazines" if samaritan["magazines"] == "t" %>
      <%= "Paper" if samaritan["paper"] == "t" %>
      <%= "Non_hi5_plastic" if samaritan["non_hi5_plastic"] == "t" %>
      <%= "Non_hi5_glass" if samaritan["non_hi5_glass"] == "t" %>
      <%= "Non_hi5_cans" if samaritan["non_hi5_cans"] == "t" %>
    </div>
    <%# end %>
  </div>
<% end %>

