<h1>Redeemers#index</h1>

<h1>Available Redeemable Transactions</h1>

<% @redeemables.each do |redeemable|  %>
  <div>
    <%= "Plastic: #{redeemable["plastic"]}" %>
    <%= "Glass: #{redeemable["glass"]}" %>
    <%= "Cans: #{redeemable["cans"]}" %>
    <%= "Mixed Hi5: #{redeemable["other"]}" %>
  </div>
<% end %>
<h1>Available Good Samaritan Transactions</h1>

<% @samaritans.each do |samaritan| %>
  <div>
    <%= "Cardboard" if samaritan["cardboard"] == "t" %>
    <%= "Newspaper" if samaritan["newspaper"] == "t" %>
    <%= "Magazines" if samaritan["magazines"] == "t" %>
    <%= "Paper" if samaritan["paper"] == "t" %>
    <%= "Non_hi5_plastic" if samaritan["non_hi5_plastic"] == "t" %>
    <%= "Non_hi5_glass" if samaritan["non_hi5_glass"] == "t" %>
    <%= "Non_hi5_cans" if samaritan["non_hi5_cans"] == "t" %>
  </div>
<% end %>